.admin-config {
  text-align: center;
  float: right;
}

.addACohort {
}

.addCohortHeader {
  text-align: center;
}

.configButton {
}

.cohortOptions {
  /*height: 200px;*/
  padding: 60px !important;
}
