.lvl-table {
  text-align: center;
  margin-bottom: 30px;
  overflow-y: scroll;
}

.lvl-form {
  text-align: center;
  float: center;
  margin-left: 210px;
  margin-top: 30px;
}

#requests-table {
  margin-top: 20px;
  margin-bottom: 60px;
}

#hover-icon:hover {
  cursor: pointer;
}

.table-cell {
  background-color: rgba(255, 153, 0, 0.05) !important;
}

.table {
  background-color: #ffffff !important;
}

#submissions-table {
  margin-bottom: 60px;
}
