.lvl-table {
  text-align: center;
  /*position: absolute;*/
  /*top: 20px;*/
  float: center;
  margin-left: 210px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  overflow-y: scroll;
  /*max-height: 100vh;*/

}

.lvl-form {
  text-align: center;
  float: center;
  margin-left: 210px;
  margin-top: 30px;
}

.ui.table {
  border-bottom: 1px solid #F2711C !important;
  border-top: 2px solid #F2711C !important;
}
