html,
body,
.grid,
.row,
.column {
  /*min-height: 100%;*/
  padding: 0px;
}

.App {
  text-align: center;
}

#app-grid {
  height: 100vh;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


#app-div {
  width: 100%;
  min-height: 100%;
}

#completed-btn {
  margin-top: 20px;
}

.completed-thead {
  background-color: #e9e9e9 !important;
  color: #4A4A4A !important;
  font-size: 16px !important;
}

#content-col {
  padding: 60px 80px !important;
}

.errorMessage {
  color: red;
}

.form-view {
  text-align: left;
  float: center;
  margin-top: 30px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.lvl-table {
  text-align: center;
  margin-bottom: 30px;
  overflow-y: scroll;
}

.lvl-form {
  text-align: center;
  float: center;
  margin-left: 210px;
  margin-top: 30px;
}

.lvl-link a {
  color: #F2711C;
}

.nova-font {
  font-family: 'Nova Square', sans-serif;
}

#main-row {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  min-height: 100% !important;
  background-color: #f5f5f5;
}

#nav-col {
  min-height: 100% !important;
  height: 100% !important;
}

#nav-pad {
  padding-left: 18rem !important;
}

#nav-row {
  padding-bottom: 0px !important;
}

.sort {
  float: right !important;
  font-size: 12px !important;
}

#sort {
  border-left: 0px !important;
}

.sort-dropdown {
  border-left: 0px !important;
  color: #4a4a4a !important;
  font-size: 12px;
  background-color: rgba(74, 74, 74, 0.2) !important;
}

.thead-secondary {
  background-color: #e9e9e9 !important;
  color: #4a4a4a !important;
}

.thead-sortable {
  color: #4a4a4a !important;
  font-size: 16px;
  padding-left: 56px !important;
  background-color: rgba(74, 74, 74, 0.2) !important;
}

.table-head {
  color: #4a4a4a !important;
  font-size: 16px;
  background-color: rgba(74, 74, 74, 0.2) !important;
}

.ui.inverted.segment {
  background-color: #4A4A4A !important;
  color: #DDDDDD !important;
  border: 1px solid #F2711C !important;
  margin: 0 5.5em !important;
  padding: 30px !important;
}

.ui.table {
  border-bottom: 1px solid #F2711C !important;
  border-top: 2px solid #F2711C !important;
}

.ui.table.thead {
  background-color: rgba(74, 74, 74, 0.2) !important;
  color: #4A4A4A !important;
}

.ui.vertical.menu {
  width: 18rem !important;
  padding: 40px 10px !important;
 }

 #user-col {
   min-height: 100% !important;
   height: 100% !important;
 }
/*::selection {
  background-color: #000000 !important;
}*/
