.submission-container {
  margin-left: 210px;
}

.challenge-submission {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 40px;
}

.challenge-submission-form {
  margin-bottom: 20px;
}
