.studentSidenav {
  position: absolute;
  bottom: 0px;
  top: 0px;
  min-height: 100%;
  float: left;
  border-radius: 0% !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  border-right: 1px solid !important;
  border-color: #F2711C !important;
  background-color: #4A4A4A !important;
}

.userdiv {
  margin-top: 5px;
  text-align: center;
}

.headerStudent{
  text-align: center;
}

#student-sidenav-info {
   margin-top: 30px;
   margin-bottom: 30px;
}

.signupPage {
  margin-left: 210px;
  margin-top: 40px;
}

.signupText{
  text-align: center;
}

/*.ui.form select {
  height: 37px !important;
}*/

.signupPage {
  margin-left: 210px;
  margin-top: 40px;
}

.signupText {
  text-align: center;
}

.successAdminCohort {
  padding: 40px;
  margin-top: 60px !important;
}
