.challenges {
  text-align: center;
  float:  center;
}

.challengeSubmission {
  width: 50%;
  margin-left: 25%;
}

#hover-icon:hover {
  cursor: pointer;
}

#submission-info {
  font-size: 14px;
}

#challenge-info {
  font-size: 14px;
}
