.adminSidenav {
  position: absolute;
  bottom: 0px;
  top: 0px;
  min-height: 100%;
  float: left;
  border-radius: 0% !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  border-right: 1px solid !important;
  border-color: #F2711C !important;
  background-color: #4A4A4A !important;
  font-family: 'Anaheim', sans-serif !important;
  text-align: center;
  font-size: 16px !important;
}

#admin-sidenav-info {
  margin-top: 30px;
  margin-bottom: 80px;
  font-family: 'Anaheim', sans-serif !important;
}

h4 {
  font-family: 'Anaheim', sans-serif !important;
  font-size: 24px;
}

.dash-icon {
  text-align: center !important;
  float: center !important;
}
