.edit-challenge {
  text-align: left;
  float: center;
  margin-left: 210px;
  margin-top: 80px;
}

.lvl-form {
  text-align: center;
  float: center;
  margin-left: 210px;
  margin-top: 80px;
}

.ui.inverted.segment {
  background-color: #4A4A4A !important;
  color: #DDDDDD !important;
  border: 1px solid #F2711C !important;
}

#completed-btn {
  margin-top: 20px;
}
