.lvl-table {
  text-align: center;
  float: center;
  margin-left: 210px;
  margin-top: 80px;
}

.ui.table {
  border-bottom: 1px solid #f98613 !important;
  border-top: 2px solid #f98613 !important;
}
