.header {
  text-align: center;
  margin-top: 25px;
}

.ui.massive.nav.menu {
  background-color: #636363 !important;
  margin-bottom: 0px;
  border-radius: 0% !important;
}

.description {
  margin-top: 25px;
  width: 50%;
  margin-left: 25%;
}

.footer{
  text-align: center;
  background-color: #636363 !important;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: white;
  padding: 10px;
}

/*button.ui.button.githubButton{
  backcolor: green;
}*/
