.studentHamburger {
  height: 750px;
  float: left;
}

.userdiv {
  margin-top: 5px;
  text-align: center;
}

.studentDashboard {
  width: 50%;
  float: right;
  margin-right: 25%;
}

.headerStudent{
  text-align: center;
}
