.studentHamburger {
  height: 1000px;
  float: left;
  background-color: #3c3f44 !important;
  border-radius: 0% !important;
}

.userdiv {
  margin-top: 5px;
  text-align: center;
}

.studentDashboard {
  width: 50%;
  float: right;
  margin-right: 25%;
  overflow: scroll;
}

.headerStudent{
  text-align: center;
}
